<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Reset Password</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <style>
        body {
            background-color: #f5f5f5;
            padding-top: 200px;
        }

        .form-container {
            min-width: 330px;
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
            background-color: #dfdfdf;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .form-group {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>

<div class="form-container">
    <form id="resetPasswordForm" th:action method="post">
        <div class="form-group">
            <label for="newPassword">newPassword</label>
            <input type="text" class="form-control" id="newPassword" name="newPassword">
        </div>

        <div class="form-group">
            <label for="confirmPassword">confirmPassword</label>
            <input type="text" class="form-control" id="confirmPassword">
            <div id="confirmPasswordResult" style="color: red"></div>
        </div>

        <div id="findError" style="color: red;"></div>

        <button type="submit" class="btn btn-primary">저장</button>
        <a th:href="@{/login}" class="btn btn-secondary">취소</a>
    </form>
</div>

<script>
    const form = document.getElementById('resetPasswordForm');
    const newPasswordInput = document.getElementById('newPassword');
    const confirmPasswordInput = document.getElementById('confirmPassword');
    const confirmPasswordResultDiv = document.getElementById('confirmPasswordResult');
    const findErrorDiv = document.getElementById('findError');

    const checkPasswordMatch = () => {
        if (newPasswordInput.value !== confirmPasswordInput.value) {
            confirmPasswordResultDiv.textContent = "비밀번호가 일치하지 않습니다.";
            return false;
        } else {
            confirmPasswordResultDiv.textContent = "";
            return true;
        }
    };

    newPasswordInput.addEventListener('input', checkPasswordMatch);
    confirmPasswordInput.addEventListener('input', checkPasswordMatch);

    form.addEventListener('submit', function(e) {
        e.preventDefault();

        if (!checkPasswordMatch()) {
            return;
        }

        const formData = new FormData(this);

        fetch(this.getAttribute('action'), {
            method: 'POST',
            body: formData
        })
        .then(function(response) {
            if(response.ok) {
                return response.text();
            } else {
                throw response;
            }
        })
        .then(function() {
            alert("비밀번호가 정상적으로 변경되었습니다.");
            window.location.href = '/login';
        })
        .catch(function(response) {
            response.text().then(function(text) {
                findErrorDiv.textContent = text;
            });
        });
    });
</script>
</body>
</html>